body{
 margin: 0;
 background-color: white;
 color: black;
 font-family: 'Roboto', sans-serif;
 font-weight: 500;
}

.wrapper{
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.button{
  display: inline-block;
  padding: 10px 40px;
  background-color: #fb565a;
  font-size: 12px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.button:hover{
  background-color: #d6494d;
}
.button:focus{
  background-color: #b63538;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.page-header{
  min-height: 435px;
  background-color: #eeeeee;
}
.page-header__navigation{
  min-height: 90px;
  padding-top: 25px;
}
.page-header__navigation a:hover{
  color: #fb565a;
}
.page-header__navigation a:focus{
  color: #cecece;
}
.page-header__logo{
  float: left;
}
.main-nav{
  float: right;
  max-width: 600px;
  padding-right: 40px;
}
.main-nav__list{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-nav__item{
  display: inline-block;
  vertical-align: top;
}
.main-nav__item a{
  display: block;
  padding: 30px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  line-height: 30px;
}

.basket{
  float: right;
  position: relative;
}
.basket__link{
  display: block;
  padding: 30px 0;
  padding-left: 35px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  line-height: 30px;
}
.basket::before{
  content: " ";
  position: absolute;
  background: url("img/icons/icon-basket.png");
  width: 15px;
  height: 15px;
  top: 36px;
}
.slider{
  width: 880px;
  height: 320px;
  position: relative;
  margin: 0 auto;
  background-color: #eeeeee;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.slider__toggle{
  display: none;
}
.slider__inner{
  width: inherit;
  height: inherit;
}
.slider__slide{
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 0;
  opacity: 0;
}
 /*------Стили для каждого слайда-------*/
 .slider__promo{
   float: left;
   width: 380px;
   padding-top: 35px;
 }
 .slider__promo--second,
 .slider__promo--third{
   width: 470px;
 }
 .slider__image{
   float: right;
 }
 .slider__image--first{
   padding-top: 18px;
 }
 .slider__image--second{
   padding-top: 21px;
   padding-right: 10px;
 }
 .slider__image--third{
   padding-right: 5px;
 }
 .slider__slogan{
   font-size: 36px;
   line-height: 36px;
   font-weight: 500;
   margin: 0;
   margin-bottom: 27px;
 }
 .slider__promo p{
   font-size: 16px;
   line-height: 22px;
   margin-bottom: 30px;
 }

/*Стили для лейблов*/
.slider__controls{
  width: 50px;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 90px;
  display: flex;
  justify-content: space-between;
}
.slider__control{
  z-index: 2;
  width: 4px;
  height: 4px;
  border: 3px solid white;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
 /*-----ПЕРЕКЛЮЧЕНИЕ------*/
#slide1:checked ~ .slider__controls > .slider__control--first,
#slide2:checked ~ .slider__controls > .slider__control--second,
#slide3:checked ~ .slider__controls > .slider__control--third{
  background-color: #c5c5c5;
}
#slide1:checked ~ .slider__inner > .slider__slide--first,
#slide2:checked ~ .slider__inner > .slider__slide--second,
#slide3:checked ~ .slider__inner > .slider__slide--third{
  z-index: 1;
  opacity: 1;
}


.main-promo{
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  min-height: 300px;
  border-bottom: 2px solid #f4f4f4;
}
.main-promo__column{
  width: 240px;
}
.main-promo__column img{
  margin-bottom: 24px;
}
.main-promo__title{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.main-promo p{
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 30px;
}
.button--green{
  background-color: #00ca74;
}
.button--green:hover{
  background-color: #01a25e;
}
.button--green:focus{
  background-color: #009053;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}
.button--yellow{
  background-color: #efc84a;
}
.button--yellow:hover{
  background-color: #d6ae2c;
}
.button--yellow:focus{
  background-color: #c09b24;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.main-content{
  display: table;
  padding-top: 57px;
  padding-bottom: 85px;
}
.content-header{
  display: flex;
  justify-content: space-between;
  min-height: 150px;
}
.content-header__promo{
  width: 580px;
  padding-top: 23px;
}
.content-header__logo{
  width: 240px;
  text-align: center;
}
.content-header__logo p{
  margin-top: 32px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  overflow: hidden;
}
.content-header__logo p::before,
.content-header__logo p::after{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: #f4f4f4;
  position: relative;
}
.content-header__logo p::before{
  margin-left: -100%;
  left: -15px;
}
.content-header__logo p::after{
  margin-right: -100%;
  right: -15px;
}
.content-header__title{
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}
.content-header__promo p{
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}
.main-content__columns{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 75px;
  border-bottom: 2px solid #f4f4f4;
}
.content-column__title{
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.content-column__list{
  list-style: none;
  padding: 0;
  margin: 0;
  }
.content-column__item{
  font-size: 16px;
  line-height: 22px;
  padding-top: 27px;
  padding-left: 40px;
  position: relative;
}
.content-column__item::before{
  content: "";
  position: absolute;
  left: 0;
  top: 36px;
  width: 25px;
  height: 2px;
  background-color: #fc8e91;
}
.our-products{
  height: 86px;
  border-bottom: 2px solid #f4f4f4;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map{
  width: 100%;
  height: 416px;
  background: url("img/map.jpg") no-repeat 50%;
  padding-top: 88px;
}
.map__contacts{
  width: 210px;
  height: 186px;
  padding: 27px 20px;
  background-color: white;
}
.map__title{
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}
.map__adress,
.map__phone{
  font-size: 16px;
  line-height: 20px;
}
.page-footer{
  padding: 77px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social{
  min-width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social__link{
  font-size: 0;
  margin-right: 30px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.social__link:hover{
  background-color: #fb565a;
}
.social__link:focus{
  background-color: #d6494d;
}
.social__link--vk{
  background: #e1e1e1 url("img/icons/icon-vk.png") no-repeat 50% 50%;
}
.social__link--fb{
  background: #e1e1e1 url("img/icons/icon-facebook.png") no-repeat 50% 50%;
}
.social__link--ig{
  background: #e1e1e1 url("img/icons/icon-instagramm.png") no-repeat 50% 50%;
}
.page-footer__discount h2{
  margin: 0;
  margin-bottom: 17px;
  margin-top: 7px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
}
