.button{
  display: inline-block;
  padding: 10px 40px;
  background-color: #fb565a;
  font-size: 12px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.button--slider{
  padding: 10px 70px;
}
.slider{
  width: 880px;
  height: 320px;
  position: relative;
  margin: 0 auto;
  background-color: #eeeeee;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.slider__toggle{
  display: none;
}
.slider__inner{
  width: inherit;
  height: inherit;
}
.slider__slide{
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 0;
  opacity: 0;
}
 /*------Стили для каждого слайда-------*/
 .slider__promo{
   float: left;
   width: 380px;
   padding-top: 35px;
 }
 .slider__promo--second,
 .slider__promo--third{
   width: 470px;
 }
 .slider__image{
   float: right;
 }
 .slider__image--first{
   padding-top: 18px;
 }
 .slider__image--second{
   padding-top: 21px;
   padding-right: 10px;
 }
 .slider__image--third{
   padding-right: 5px;
 }
 .slider__slogan{
   font-size: 36px;
   line-height: 36px;
   font-weight: 500;
   margin: 0;
   margin-bottom: 27px;
 }
 .slider__promo p{
   font-size: 16px;
   line-height: 22px;
   margin-bottom: 30px;
 }

/*Стили для лейблов*/
.slider__controls{
  width: 50px;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 90px;
  display: flex;
  justify-content: space-between;
}
.slider__control{
  z-index: 2;
  width: 4px;
  height: 4px;
  border: 3px solid white;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
 /*-----ПЕРЕКЛЮЧЕНИЕ------*/
#slide1:checked ~ .slider__controls > .slider__control--first,
#slide2:checked ~ .slider__controls > .slider__control--second,
#slide3:checked ~ .slider__controls > .slider__control--third{
  background-color: #c5c5c5;
}
#slide1:checked ~ .slider__inner > .slider__slide--first,
#slide2:checked ~ .slider__inner > .slider__slide--second,
#slide3:checked ~ .slider__inner > .slider__slide--third{
  z-index: 1;
  opacity: 1;
}
